body{
	font-family: 'Oswald', sans-serif;
	background:linear-gradient(to right,#bdc3c7,#5b80a4);
}
.nav-bar{
	padding: 10px;
	background: linear-gradient(to right, #ff9966 30%, #ff99cc 100%);
}
@media (min-width:961px){
.nav-bar{
	background: white;
}	
}
.nav-text a{
	color: white;
	font-size: 1.5rem;
}
.weather-container{
	margin-top: -40px;
}
.weather-icon{
	padding: 10px;
}
.weather-icon img{
	width:150px;
	height: 150px;
	transition: 0.25s ease-in;
}
.main-container{
	margin-left: 15%;
	width: 70%;
	padding: 10px;
	padding-bottom: 30px;
	margin-top: 5%;
	border-radius: 57px;
	background: linear-gradient(315deg, #ffcccc, #f0f0f0);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	/*box-shadow:  -5px -5px 10px #cacaca,
	             5px 5px 10px #f6f6f6;*/
}
.notification{
	font-size: 20px;
	color:red;
}
.temperature-description{
	text-transform: capitalize;
}
.down-link{
	text-decoration: none;
	color: black;
	font-size: 12px;
	padding: 10px;
}
.date h3{
	padding:10px;
	color: #527a7a;
}
.weather-icon{
	filter: drop-shadow(8px 5px 4px #a6a6a6);
}
.navbar-brand{
	color:black!important;
}
.navbar-brand:hover{
	color:#ffbf00!important;
}
.temperature-description p{
	font-size: 24px;
	font-weight: 500;
}
.temperature-value{
	font-size: 26px;
}